@model Product

@{
    ViewData["Title"] = "Create";
}
<div class="page__ft">
</div>
<div class="page__bd page__bd_spacing">
    <p>注意：你上传的第一幅图片将会用于推广展示。请注意挑选第一幅图片。</p>
</div>
<div class="page__bd">
    <div class="weui-gallery" id="gallery" style="display: none; opacity: 0;">
        <span class="weui-gallery__img" id="galleryImg" style="background-image:url(./images/pic_160.png)"></span>
        <div class="weui-gallery__opr">
            <a class="weui-gallery__del" href="javascript:">
                <i class="weui-icon-delete weui-icon_gallery-delete"></i>
            </a>
        </div>
    </div>
    <form class="weui-cells weui-cells_form" method="post" id="uploadForm" asp-action="CreateImage" asp-controller="Products" role="form" enctype="multipart/form-data">
        <input type="hidden" name="ProductId" value="@Model.ProductId" />
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderFiles">
                            @foreach (var image in Model.ImageOfProducts)
                            {
                                <li class="weui-uploader__file" style="background-image:url(@image.ImageSrc)"></li>
                            }
                        </ul>
                        <div class="weui-uploader__input-box">
                            <input class="weui-uploader__input" id="uploaderInput" type="file" name="file" accept="image/*" multiple="" oninput="javascript: document.getElementById('uploadForm').submit()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="weui-btn weui-btn_warn" type="submit">上传</button>
        <a class="weui-btn weui-btn_default" asp-action="Index">返回</a>
    </form>
</div>