@{
    ViewData["Title"] = "Home Page";
}

<div class="page searchbar js_show">
    <div class="page__bd">
        <div class="weui-search-bar" id="search_bar">
            <form class="weui-search-bar__form">
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input class="weui-search-bar__input" id="search_input" required="" type="search" placeholder="搜索">
                </div>
                <label class="weui-search-bar__label" id="search_text" style="opacity: 1; transform: scale(1); transform-origin: 0px 0px 0px;" for="search_input">
                    <i class="weui-icon-search"></i>
                    <span>搜索</span>
                </label>
            </form>
            <a class="weui-search-bar__cancel-btn" id="search_cancel" href="javascript:">取消</a>
        </div>
        <div class="weui-cells weui-cells_access search_show" id="search_show" style="display: none; opacity: 1; transform: scale(1); transform-origin: 0px 0px 0px;">
            <div class="weui-cell">
                <a class="weui-cell__bd weui-cell_primary" href="/Account/Login">
                    <p>实时搜索文本</p>
                </a>
            </div>
            <div class="weui-cell">
                <a class="weui-cell__bd weui-cell_primary">
                    <p>实时搜索文本</p>
                </a>
            </div>
            <div class="weui-cell">
                <a class="weui-cell__bd weui-cell_primary">
                    <p>实时搜索文本</p>
                </a>
            </div>
            <div class="weui-cell">
                <a class="weui-cell__bd weui-cell_primary">
                    <p>实时搜索文本</p>
                </a>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script>
        var supportTouch = function () {
            try {
                document.createEvent("TouchEvent");
                return true;
            } catch (e) {
                return false;
            }
        }();
        var pageManager = {
            $container: $('#container'),
            _bind: function (page) {
                var events = page.events || {};
                for (var t in events) {
                    for (var type in events[t]) {
                        var that = this;
                        if (type == 'click' && supportTouch) {
                            (function (dom, event) {
                                var touchStartY;
                                that.$container.on('touchstart', dom, function (e) {
                                    touchStartY = e.changedTouches[0].clientY;
                                });
                                that.$container.on('touchend', dom, function (e) {
                                    if (Math.abs(e.changedTouches[0].clientY - touchStartY) > 10) return;
                                    e.preventDefault();

                                    events[dom][event].call(this, e);
                                });
                            })(t, type);
                        } else {
                            this.$container.on(type, t, events[t][type]);
                        }
                    }
                }
                page.isBind = true;
            }
        };
        var pages = {};
        pages.searchbar = {};
        pages.searchbar.events = {
            '#search_input': {
                focus: function () {
                    //searchBar
                    var $weuiSearchBar = $('#search_bar');
                    var $searchShow = $('#search_show');
                    $weuiSearchBar.addClass('weui-search-bar_focusing');
                    if($(this).val()){
                        $searchShow.show();
                    }
                },
                input: function () {
                    var $searchShow = $('#search_show');
                    if ($(this).val()) {
                        $searchShow.show();
                    } else {
                        $searchShow.hide();
                    }
                }
            },
            '#search_cancel': {
                click: function () {
                    $('#search_input').val('');
                    var $weuiSearchBar = $('#search_bar');
                    $weuiSearchBar.removeClass('weui-search-bar_focusing');


                    var $searchShow = $('#search_show');
                        $searchShow.hide();

                    //if ($(this).val()) {
                        //$('#search_text').hide();
                    //} else {
                        $('#search_text').show();
                    //}
                }
            }
        };
        pageManager._bind(pages.searchbar);
    </script>
}
