@{
    ViewData["Title"] = "订单";
}
<div class="weui-flex weui-form-preview">
    <div class="weui-flex__item">
        <div class="placeholder">
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">全部订单</a>
            </div>
        </div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder">
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">待付款</a>
            </div>
        </div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder">
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">未使用</a>
            </div>
        </div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder">
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">未评价</a>
            </div>
        </div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder">
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">退款/售后</a>
            </div>
        </div>
    </div>
</div>

<br />
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">云岗饭店</label>
        <em class="weui-form-preview__value">¥540.00</em>
    </div>
    <div class="weui-form-preview__bd">
        <p>
            <label class="weui-form-preview__label">商品</label>
            <span class="weui-form-preview__value">满汉全席</span>
        </p>
        <p>
            <label class="weui-form-preview__label">数量</label>
            <span class="weui-form-preview__value">1</span>
        </p>
        <p>
            <span class="weui-form-preview__value">满汉全席，清朝时期宫廷盛宴。既有宫廷菜肴之特色，又有地方风味之精华；突出满与汉族菜点特殊风味</span>
        </p>
    </div>
    <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">删除订单</a>
        <button class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">评价</button>
    </div>
</div>

<br />
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">法国</label>
        <em class="weui-form-preview__value">¥54000.00</em>
    </div>
    <div class="weui-form-preview__bd">
        <p>
            <label class="weui-form-preview__label">商品</label>
            <span class="weui-form-preview__value">埃菲尔铁塔门票</span>
        </p>
        <p>
            <label class="weui-form-preview__label">数量</label>
            <span class="weui-form-preview__value">10</span>
        </p>
        <p>
            <span class="weui-form-preview__value">矗立在塞纳河南岸法国巴黎的战神广场，它是世界著名建筑、法国文化象征之一、巴黎城市地标之一、巴黎最高建筑物。被法国人爱称为“铁娘子” 。</span>
        </p>
    </div>
    <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">删除订单</a>
        <button class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">评价</button>
    </div>
</div>