@model TravelInCloud.Models.HomeViewModels.PayViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>微信支付样例-JSAPI支付</title>
</head>



<body>

    @Model.unifiedOrderResult
    <br />
    @Model.wxJsApiParam


    <br />
    <div align="center">
        <button value="Pay" onclick="callpay()"></button>
    </div>
   
    <script>

        alert('started1');
        //调用微信JS api 支付
        function jsApiCall()
        {
            WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
             @Html.Raw(Model.wxJsApiParam),//josn串
             function (res)
             {
                 WeixinJSBridge.log(res.err_msg);
                 alert(res.err_code + res.err_desc +'  '+ res.err_msg);
             });
        }

        function callpay()
        {
            alert('started2');
            if (typeof WeixinJSBridge == "undefined")
            {
                if (document.addEventListener)
                {
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }
                else if (document.attachEvent)
                {
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }
            else
            {
                jsApiCall();
            }
        }

    </script>
</body>
</html>