@model TravelInCloud.Models.Product

@{
    ViewData["Title"] = "Create";
}


<form asp-action="Create" asp-controller="Products" method="post" class="page input" style="opacity: 1;">
    <div class="page__bd">
        <div asp-validation-summary="All" class="page__desc"></div>
        <div class="weui-cells__title">新建商品表单</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">商品名称</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" asp-for="ProductName" placeholder="例如：云冈石窟门票">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">购买警示</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" asp-for="ProductWarnning" placeholder="例如：仅限成年人使用">
                </div>
            </div>
        </div>

        <div class="weui-cells__title">商品参数</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" asp-for="ProductInfo" placeholder="详细介绍型号、配置等客观参数" rows="5"></textarea>
                    <div class="weui-textarea-counter"><span>0</span>/200</div>
                </div>
            </div>
        </div>

        <div class="weui-cells__title">商品详细信息</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" asp-for="ProductDetails" placeholder="详细介绍商品本身" rows="20"></textarea>
                    <div class="weui-textarea-counter"><span>0</span>/2000</div>
                </div>
            </div>
        </div>

        <label class="weui-agree" for="weuiAgree">
            <input class="weui-agree__checkbox" id="weuiAgree" type="checkbox">
            <span class="weui-agree__text">
                阅读并同意<a href="javascript:void(0);">《相关条款》</a>
            </span>
        </label>
        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" id="showTooltips" type="submit">提交并前往添加商品图片</button>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png"></a>
    </div>
</form>

<div class="page__bd page__bd_spacing">
    <a class="weui-btn weui-btn_warn" asp-controller="Products" asp-action="Index">返回商品列表</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
