@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
    <div class="page__hd">
        <h1 class="page__title">修改密码</h1>
        <div asp-validation-summary="All" class="page__desc"></div>
    </div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">原密码</label>
            </div>
            <div class="weui-cell__bd">
                <input asp-for="OldPassword" class="weui-input" type="password" placeholder="请输入原密码">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">密码</label>
            </div>
            <div class="weui-cell__bd">
                <input asp-for="NewPassword" class="weui-input" type="password" placeholder="请输入云中旅行账号密码">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">确认密码</label>
            </div>
            <div class="weui-cell__bd">
                <input asp-for="ConfirmPassword" class="weui-input" type="password" placeholder="请再次输入密码">
            </div>
        </div>
    </div>

    <div class="page__ft">
    </div>
    <div class="page__bd page__bd_spacing">
        <button class="weui-btn weui-btn_primary" type="submit">立即修改密码</button>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}