@model RegisterViewModel
@{
    ViewData["Title"] = "注册";
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div class="page__hd">
        <h1 class="page__title">注册云游账号</h1>
        <p class="page__desc">提示：在微信官方公众号云中旅行中中打开可以直接登录</p>
        <div asp-validation-summary="All" class="page__desc"></div>
    </div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">邮箱账号</label>
            </div>
            <div class="weui-cell__bd">
                <input asp-for="Email" class="weui-input" type="email" placeholder="请输入作为云游账号的邮箱账号">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">密码</label>
            </div>
            <div class="weui-cell__bd">
                <input asp-for="Password" class="weui-input" type="password" placeholder="请输入云游账号密码">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">确认密码</label>
            </div>
            <div class="weui-cell__bd">
                <input asp-for="ConfirmPassword" class="weui-input" type="password" placeholder="请再次输入密码">
            </div>
        </div>
    </div>

    <div class="weui-form-preview">
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_default" asp-controller="Account" asp-action="Login">已有账号？立即登录</a>
            <button class="weui-form-preview__btn weui-form-preview__btn_primary" type="submit">注册</button>
        </div>
    </div>

    <label class="weui-agree" for="weuiAgree">
        <span class="weui-agree__text">
            注册即视为同意<a href="javascript:void(0);">《相关条款》</a>
        </span>
    </label>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}