
<!DOCTYPE html>
<html lang="en" style="font-size:25px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <title>云中旅行-首页</title>
    <link rel="stylesheet" type="text/css" href="~/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/css/common.css">
    @RenderSection("css", required: false)

</head>
<body>
    @RenderBody()
    <!--热销产品 end-->
    <!--底部 start-->
    <div class="footer-box">
        <div class="footer-box">
            <footer>
                <a asp-controller="Home" asp-action="Index" class="on">
                    <i class="footer-ico1"></i>
                    <span>首页</span>
                </a>
                <a asp-controller="Home" asp-action="Order">
                    <i class="footer-ico3"></i>
                    <span>订单</span>
                </a>
                <a href="tel:13080868017">
                    <i class="footer-ico4"></i>
                    <span>客服</span>
                </a>
                <a asp-controller="Home" asp-action="Parent">
                    <i class="footer-ico2"></i>
                    <span>我的</span>
                </a>
            </footer>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/Swiper/dist/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="~/js/public.js"></script>
    @RenderSection("js", required: false)
</body>
</html>