<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelInCloud</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/weui/dist/style/weui.css" />
        <link rel="stylesheet" href="~/lib/weui/dist/example/example.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/weui/dist/style/weui.min.css" />
        <link rel="stylesheet" href="~/lib/weui/dist/example/example.css" />
    </environment>
</head>
<body>
    <div class="container" id="container">
        <div class="page tabbar" style="opacity: 1;">
            <div class="page__bd" style="height: 100%;">
                <div class="weui-tab">
                    <div class="weui-tab__panel">
                        @RenderBody()
                    </div>
                    <div class="weui-tabbar">
                        <a class="weui-tabbar__item weui-bar__item_on" asp-controller="Home" asp-action="Index">
                            <img class="weui-tabbar__icon" alt="" src="~/lib/weui/dist/example/images/icon_nav_panel.png">
                            <p class="weui-tabbar__label">首页</p>
                        </a>
                        <a class="weui-tabbar__item" asp-controller="Home" asp-action="Cart">
                            <img class="weui-tabbar__icon" alt="" src="~/lib/weui/dist/example/images/icon_nav_toast.png">
                            <p class="weui-tabbar__label">购物车</p>
                        </a>
                        <a class="weui-tabbar__item" asp-controller="Home" asp-action="Order">
                            <img class="weui-tabbar__icon" alt="" src="~/lib/weui/dist/example/images/icon_nav_article.png">
                            <p class="weui-tabbar__label">订单</p>
                        </a>
                        <a class="weui-tabbar__item" asp-controller="Home" asp-action="Mine">
                            <img class="weui-tabbar__icon" alt="" src="~/lib/weui/dist/example/images/icon_nav_button.png">
                            <p class="weui-tabbar__label">我的</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/weui/dist/example/zepto.min.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>