@{
    ViewData["Title"] = "Error";
}

<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">500</h2>
        <p class="weui-msg__desc">服务器不堪重负，请稍后再试。</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:location.reload(true);">刷新</a>
            <a class="weui-btn weui-btn_default" href="javascript:history.back();">返回</a>
        </p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a class="weui-footer__link" href="javascript:void(0);">Obisoft</a>
            </p>
            <p class="weui-footer__text">Copyright © 2008-2016 Obisoft.co</p>
        </div>
    </div>
</div>